<%= form_for(@or) do |f| %>
  <% if @or.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@or.errors.count, "error") %> prohibited this or from being saved:</h2>

      <ul>
      <% @or.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
