<h1>Listing ors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ors.each do |or| %>
      <tr>
        <td><%= link_to 'Show', or %></td>
        <td><%= link_to 'Edit', edit_or_path(or) %></td>
        <td><%= link_to 'Destroy', or, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Or', new_or_path %>
