<%= form_for(@ipyesterday) do |f| %>
  <% if @ipyesterday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ipyesterday.errors.count, "error") %> prohibited this ipyesterday from being saved:</h2>

      <ul>
      <% @ipyesterday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
