<h1>Listing ipyesterdays</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ipyesterdays.each do |ipyesterday| %>
      <tr>
        <td><%= link_to 'Show', ipyesterday %></td>
        <td><%= link_to 'Edit', edit_ipyesterday_path(ipyesterday) %></td>
        <td><%= link_to 'Destroy', ipyesterday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ipyesterday', new_ipyesterday_path %>
