<%= form_for(@iptoday) do |f| %>
  <% if @iptoday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iptoday.errors.count, "error") %> prohibited this iptoday from being saved:</h2>

      <ul>
      <% @iptoday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
