<h1>Listing iptodays</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iptodays.each do |iptoday| %>
      <tr>
        <td><%= link_to 'Show', iptoday %></td>
        <td><%= link_to 'Edit', edit_iptoday_path(iptoday) %></td>
        <td><%= link_to 'Destroy', iptoday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iptoday', new_iptoday_path %>
