<h1>Archive - <%= @day.tomorrow.strftime("%A - %B %d, %Y")%></h1>
<!-- Dropdown to select archive date -->
<div class="dropdown">
	<button class="btn btn-info dropdown-toggle" type="button" id="archive_select" data-toggle="dropdown" aria-expanded="true">
	  Archive
	  <span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="archive_select">
		<% (1..@archivecount).each do |d| %>
			<li role="presentation"><%= link_to (d-1).day.ago.strftime("%B %d, %Y"), archive_home_index_path(:date => d.day.ago) %></li>
		<% end -%>
	</ul>
</div><!-- Archive Close --> 
<% unless @ed.nil? %>
	<!-- Row 1 -->
	<div class="row">
	<!-- ED Table -->
		<div class="col-sm-4 col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">ED</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped">
					<tr>
						<th>Level</th>
						<th>9AM Census</th>
					</tr>
					<tr>
						<td><%= @ed.level %></td>
						<td><%= @ed.census %></td>
					</tr>
				</table>
			  </div>
			</div>
		</div><!-- ED Table Close -->
		<!-- Psych ED Table -->
		<div class="col-sm-4 col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Psych ED</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped">
						<tr>
							<th>LMH</th>
							<th>FUH</th>
							<th>ST V's</th>
						</tr>
						<tr>
							<td><%= @psyched.lmh %></td>
							<td><%= @psyched.fuh %></td>
							<td><%= @psyched.stv %></td>
						</tr>
					</table>
			  </div>
			</div>
		</div><!-- Psych ED Table Close -->
		<!-- OR Table -->
		<div class="col-sm-4 col-md-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">OR</h3>
			  </div>
			  <div class="panel-body">
			    <table class="table table-striped">
						<tr>
							<th>Cases</th>
						</tr>
						<tr>
							<td><%= @or.cases %></td>
						</tr>
					</table>
			  </div>
			</div>
		</div><!-- OR Table Close -->
	</div><!-- Row 1 Close -->
	<!-- Row 2 -->
	<div class="row">
		<!-- In Patient - Today Table --> 
		<div class="col-sm-12 col-md-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">In-Patient - Today</h3>
			  </div>
			  <div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Unit</th>
						<th>Staffed Capacity</th>
						<th>Actual Census</th>
						<th>Boarders</th>
						<th>Surg Admit</th>
						<th>Planned Admits</th>
						<th>Plan D/C Before Noon</th>
						<th>Plan D/C After Noon</th>
						<th>Adjusted Census</th>
						<th>Precaution Patients #</th>
						<th>1:1 single, group</th>
						<th>LOS > 5 M/S >10 Psych</th>
					</tr>
					<% @units.each do |unit| %>
						<% unitiptoday = unit.iptodays.where({ created_at: @day.noon..(@day.noon + 1.day) }).first %>
						<tr>
							<td><%= unit.name %></td>
							<td><%= unitiptoday.staffedcap %></td>
							<td><%= unitiptoday.actualcensus %></td>
							<td><%= unitiptoday.boarders %></td>
							<td><%= unitiptoday.surgadmit %></td>
							<td><%= unitiptoday.plannedadmit %></td>
							<td><%= unitiptoday.plandcprenoon %></td>
							<td><%= unitiptoday.plandcafternoon %></td>
							<td><%= unitiptoday.adjustedcensus %></td>
							<td><%= unitiptoday.precautionpat %></td>
							<td><%= unitiptoday.singlegroup %></td>
							<td><%= unitiptoday.psych %></td>
						</tr>
					<% end -%>
				</table>
			  </div>
			</div>
		</div><!-- In Patient - Today Table Close -->
	</div><!-- Row 2 Close -->
	<!-- Row 3 --> 
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">In Patient - Yesterday</h3>
				</div>
				<div class="panel-body">
					<table class="table table-striped">
					<tr>
						<th>Unit</th>
						<th>Plan D/C Before Noon</th>
						<th>Actual D/C Before Noon</th>
						<th>Plan D/C After Noon</th>
						<th>Actual D/C After Noon</th>
						<th>Admit HIB</th>
						<th>Longest Wait ED</th>
						<th>Longest Wait PACU</th>
					</tr>
					<% @units.each do |unit| %>
						<% unitipyesterday = unit.ipyesterdays.where({ created_at: @day.noon..(@day.noon + 1.day) }).first %>
						<tr>
							<td><%= unit.name %></td>
							<td><%= unitipyesterday.plandcprenoon %></td>
							<td><%= unitipyesterday.actualdcprenoon %></td>
							<td><%= unitipyesterday.plandcafternoon %></td>
							<td><%= unitipyesterday.actualdcafternoon %></td>
							<td><%= unitipyesterday.admithib %></td>
							<td><%= unitipyesterday.longestwaited %></td>
							<td><%= unitipyesterday.longestwaitpacu %></td>
						</tr>
					<% end -%>
				</table>
				</div>
			</div>
		</div>
	</div><!-- Row 3 Close -->
<% else %>
	<h2>No Data for this day </h2>
<% end -%>