<h1>
	<% if Time.zone.now.noon.past? %>
		<%= Date.tomorrow.strftime("%A - %B %d, %Y") %>
	<% else %>
		<%= Date.today.strftime("%A - %B %d, %Y") %>
	<% end -%>
</h1>
<div class="btn-group">
	<!-- Dropdown to select archive date -->
		<button class="btn btn-info dropdown-toggle" type="button" id="archive_select" data-toggle="dropdown" aria-expanded="true">
		  Archive
		  <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu" aria-labelledby="archive_select">
			<% (1..@archivecount).each do |d| %>
				<li role="presentation"><%= link_to d.day.ago.strftime("%B %d, %Y"), archive_home_index_path(:date => d.day.ago) %></li>
			<% end -%>
		</ul>
	<%= link_to "Completed Action Items", actionitems_path, :class => "btn btn-primary", role: "button" %>
</div>
<!-- Row 1 -->
<div class="row">
<!-- ED Table -->
	<div class="col-sm-4 col-md-4 ed">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">ED</h3>
		  </div>
		  <div class="panel-body">
		    <table class="table table-striped">
				<tr>
					<th>Level</th>
					<th>9AM Census</th>
				</tr>
				<tr>
					<td><%= best_in_place @ed, :level, type: :input,:html_attrs => {:tabindex => 1} %></td>
					<td><%= best_in_place @ed, :census, type: :input,:html_attrs => {:tabindex => 2} %></td>
				</tr>
			</table>
		  </div>
		</div>
	</div><!-- ED Table Close -->
	<!-- Psych ED Table -->
	<div class="col-sm-4 col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Psych ED</h3>
		  </div>
		  <div class="panel-body">
		    <table class="table table-striped">
					<tr>
						<th>LMH</th>
						<th>FUH</th>
						<th>ST V's</th>
					</tr>
					<tr>
						<td><%= best_in_place @psyched, :lmh, type: :input, :html_attrs => {:tabindex => 3} %></td>
						<td><%= best_in_place @psyched, :fuh, type: :input, :html_attrs => {:tabindex => 4} %></td>
						<td><%= best_in_place @psyched, :stv, type: :input, :html_attrs => {:tabindex => 5} %></td>
					</tr>
				</table>
		  </div>
		</div>
	</div><!-- Psych ED Table Close -->
	<!-- OR Table -->
	<div class="col-sm-4 col-md-4">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">OR</h3>
		  </div>
		  <div class="panel-body">
		    <table class="table table-striped">
					<tr>
						<th>Cases</th>
					</tr>
					<tr>
						<td><%= best_in_place @or, :cases, :html_attrs => {:tabindex => 6} %></td>
					</tr>
				</table>
		  </div>
		</div>
	</div><!-- OR Table Close -->
</div><!-- Row 1 Close -->
<!-- Row 2 -->
<div class="row">
	<!-- In Patient - Today Table --> 
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">In-Patient - Today</h3>
		  </div>
		  <div class="panel-body">
			<table class="table table-striped iptoday">
				<tr>
					<th>Unit</th>
					<th>Staffed Capacity</th>
					<th>Actual Census</th>
					<th>Boarders</th>
					<th>Surg Admit</th>
					<th>Planned Admits</th>
					<th>Planned D/C</th>
					<th>Adjusted Census</th>
					<th>Precaution Patients #</th>
					<th>1:1 single, group</th>
					<th>LOS > 5 M/S >10 Psych</th>
				</tr>
				<tbody>
				<% i = 7 %>
				<% @units.each do |unit| %>
					<% unitiptoday = unit.iptodays.where({ created_at: @start..@end }).first 
					%>
					<tr class="iptodays">
						<td><%= unit.name %></td>
						<% if unit.name == "CDU" %>
							<td class="cdu"><%= best_in_place unitiptoday, :staffedcap, type: :input, :html_attrs => {:tabindex => i} %></td>
						<% else %>
							<td><%= best_in_place unitiptoday, :staffedcap, type: :input, :html_attrs => {:tabindex => i} %></td>
						<% end -%>
						<td><%= best_in_place unitiptoday, :actualcensus, type: :input, :html_attrs => {:tabindex => i + 1} %></td>
						<td><%= best_in_place unitiptoday, :boarders, type: :input, :html_attrs => {:tabindex => i + 2} %></td>
						<td><%= best_in_place unitiptoday, :surgadmit, type: :input, :html_attrs => {:tabindex => i + 3} %></td>
						<td><%= best_in_place unitiptoday, :plannedadmit, type: :input, :html_attrs => {:tabindex => i + 4} %></td>
						<td><%= best_in_place unitiptoday, :plandcafternoon, type: :input, :html_attrs => {:tabindex => i + 5} %></td>
						<td class="adjustedCensus"><span id="adjustedCensus-<%= unitiptoday.id%>">0</span></td>
						<td><%= best_in_place unitiptoday, :precautionpat, type: :input, :html_attrs => {:tabindex => i + 6} %></td>
						<td><%= best_in_place unitiptoday, :singlegroup, type: :input, :html_attrs => {:tabindex => i + 7} %></td>
						<td><%= best_in_place unitiptoday, :psych, type: :input, :html_attrs => {:tabindex => i + 8} %></td>
					</tr>
					<% i += 9 %>
				<% end -%>
				</tbody>
			</table>
		  </div>
		</div>
	</div><!-- In Patient - Today Table Close -->
</div><!-- Row 2 Close -->
<!-- Row 3 --> 
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">In Patient - Yesterday</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped ipyesterday">
				<tr>
					<th>Unit</th>
					<th>Plan D/C</th>
					<th>Actual D/C</th>
					<th>Longest Wait ED</th>
					<th>Longest Wait PACU</th>
				</tr>
				<tbody>
				<% @units.each do |unit| %>
					<% unitipyesterday = unit.ipyesterdays.where({ created_at: @start..@end }).first %>
					<tr class="ipyesterdays">
						<td><%= unit.name %></td>
						<td><%= best_in_place unitipyesterday, :plandcafternoon, type: :input, :html_attrs => {:tabindex => i} %></td>
						<td class="actualDc"><%= best_in_place unitipyesterday, :actualdcafternoon, type: :input, :html_attrs => {:tabindex => i + 1} %></td>
						<td><%= best_in_place unitipyesterday, :longestwaited, type: :input, :html_attrs => {:tabindex => i + 2} %></td>
						<td><%= best_in_place unitipyesterday, :longestwaitpacu, type: :input, :html_attrs => {:tabindex => i + 3} %></td>
					</tr>
					<% i += 4 %>
				<% end -%>
				</tbody>
			</table>
			</div>
		</div>
	</div>
</div><!-- Row 3 Close -->
<!-- Row 4 -->
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Are there any open or new safety issues, codes, or events taking place that could have an impact on safety?</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Description</th>
						<th>Assigned to</th>
						<th>Due Date</th>
						<th></th>
					</tr>
					<% @cat1s.each do |cat1| %>
						<tr id="ai<%= cat1.id %>">
							<td><%= cat1.description %></td>
							<td><%= cat1.assignedto %></td>
							<td>
								<% unless cat1.duedate.nil? %>
									<%= cat1.duedate.strftime('%B %d, %Y') %>
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_actionitem_path(cat1, :category => "cat1"), :class => "btn btn-default" %>  <%= link_to 'Delete', actionitem_path(cat1), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %><%= link_to 'Complete', markcomplete_actionitem_path(cat1), :class => "btn btn-success", method: :post, remote: true %></td>
						</tr>
					<% end -%>
				</table>
				<%= link_to "New Action Item", new_actionitem_path(:category => "cat1"), :class => "btn btn-default" %>
			</div>
		</div>
	</div>
</div><!-- Row 4 Close --> 
<!-- Row 5 -->
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Are there other open or new issues requiring resolution, such as staffing, compliance, satisfaction, equipment, or IT?</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Description</th>
						<th>Assigned to</th>
						<th>Due Date</th>
						<th></th>
					</tr>
					<% @cat2s.each do |cat2| %>
						<tr id="ai<%= cat2.id %>">
							<td><%= cat2.description %></td>
							<td><%= cat2.assignedto %></td>
							<td>
								<% unless cat2.duedate.nil? %>
									<%= cat2.duedate.strftime('%B %d, %Y') %>
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_actionitem_path(cat2, :category => "cat2"), :class => "btn btn-default" %>  <%= link_to 'Delete', actionitem_path(cat2), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %> <%= link_to 'Complete', markcomplete_actionitem_path(cat2), :class => "btn btn-success", method: :post, remote: true %></td>
						</tr>
					<% end -%>
				</table>
				<%= link_to "New Action Item", new_actionitem_path(:category => "cat2"), :class => "btn btn-default" %>
			</div>
		</div>
	</div>
</div><!-- Row 5 Close --> 
<!-- Row 6 -->
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Are there any events, meetings, announcements or rumors that we should be aware of?</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Description</th>
						<th>Assigned to</th>
						<th>Due Date</th>
						<th></th>
					</tr>
					<% @cat3s.each do |cat3| %>
						<tr id="ai<%= cat3.id %>">
							<td><%= cat3.description %></td>
							<td><%= cat3.assignedto %></td>
							<td>
								<% unless cat3.duedate.nil? %>
									<%= cat3.duedate.strftime('%B %d, %Y') %>
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_actionitem_path(cat3, :category => "cat3"), :class => "btn btn-default" %>  <%= link_to 'Delete', actionitem_path(cat3), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %><%= link_to 'Complete', markcomplete_actionitem_path(cat3), :class => "btn btn-success", method: :post, remote: true %></td>
						</tr>
					<% end -%>
				</table>
				<%= link_to "New Action Item", new_actionitem_path(:category => "cat3"), :class => "btn btn-default" %>
			</div>
		</div>
	</div>
</div><!-- Row 6 Close --> 
<!-- Row 7 -->
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Are there any follow-up issues for today's Gemba Walks?</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<tr>
						<th>Description</th>
						<th>Assigned to</th>
						<th>Due Date</th>
						<th></th>
					</tr>
					<% @cat4s.each do |cat4| %>
						<tr id="ai<%= cat4.id %>">
							<td><%= cat4.description %></td>
							<td><%= cat4.assignedto %></td>
							<td>
								<% unless cat4.duedate.nil? %>
									<%= cat4.duedate.strftime('%B %d, %Y') %>
								<% end %>
							</td>
							<td><%= link_to 'Edit', edit_actionitem_path(cat4, :category => "cat4"), :class => "btn btn-default" %>  <%= link_to 'Delete', actionitem_path(cat4), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %><%= link_to 'Complete', markcomplete_actionitem_path(cat4), :class => "btn btn-success", method: :post, remote: true %></td>
						</tr>
					<% end -%>
				</table>
				<%= link_to "New Action Item", new_actionitem_path(:category => "cat4"), :class => "btn btn-default" %>
			</div>
		</div>
	</div>
</div><!-- Row 7 Close --> 
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Would anyone like to recognize a team member for an exceptional performance?</h3>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Are there any other issues that have not been addressed?</h3>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Does anyone need to meet with anyone after the huddle?</h3>
			</div>
		</div>
	</div>
</div>
