<h1>Listing eds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eds.each do |ed| %>
      <tr>
        <td><%= link_to 'Show', ed %></td>
        <td><%= link_to 'Edit', edit_ed_path(ed) %></td>
        <td><%= link_to 'Destroy', ed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ed', new_ed_path %>
