<%= form_for(@psyched) do |f| %>
  <% if @psyched.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@psyched.errors.count, "error") %> prohibited this psyched from being saved:</h2>

      <ul>
      <% @psyched.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
