<h1>Listing psycheds</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @psycheds.each do |psyched| %>
      <tr>
        <td><%= link_to 'Show', psyched %></td>
        <td><%= link_to 'Edit', edit_psyched_path(psyched) %></td>
        <td><%= link_to 'Destroy', psyched, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Psyched', new_psyched_path %>
