<%= form_for(@actionitem) do |f| %>
  <% if @actionitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@actionitem.errors.count, "error") %> prohibited this actionitem from being saved:</h2>

      <ul>
      <% @actionitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
      <%= f.label :description, 'Description:' %>
      <%= f.text_field :description, :class => "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :assignedto, 'Assigned To:' %>
      <%= f.text_field :assignedto, :class => "form-control" %>
  </div>
  <div class="form-group">
      <%= f.label :duedate, 'Due Date:' %>
      <%= f.date_field :duedate, :class => "form-control datepicker" %>
  </div>
  <%= f.hidden_field :category, :value => params[:category] %>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-success" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    $('.datepicker').datepicker({
        dateFormat: "yy-mm-dd"
    });
  });
</script>
