<h1>Completed Action Items</h1>
 
<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Assigned To</th>
      <th>Due Date</th>
    </tr>
  </thead>

  <tbody>
    <% @actionitems.each do |actionitem| %>
      <tr>
        <td><%= actionitem.description %></td>
        <td><%= actionitem.assignedto %></td>
        <td><% unless actionitem.duedate.nil? %>
              <%= actionitem.duedate.strftime("%B %d, %Y") %>
            <% end -%>
        </td>
        <td>
          <%= link_to 'Mark as Incomplete', markincomplete_actionitem_path(actionitem), :class => "btn btn-danger", method: :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Back", root_path, :class => "btn btn-default" %>