<!DOCTYPE html>
<html>
<head>
  <title>Mwhuddle</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "MWMC Daily Huddle Board", root_path, :class => "navbar-brand" %>
    </div>
    <div class="navbar-right">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="config" data-toggle="dropdown" aria-expanded="true">
          <span class="glyphicon glyphicon-cog">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="config">
          <li role="presentation"><%= link_to "Manage Units", units_path %></li>
        </ul>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
	<%= yield %>
</div>

</body>
</html>
